/* =============
    Section 6
============= */

#section-6 {

    @include md {
        display: grid;
        grid-template-columns: auto 60% auto;
        grid-template-areas: ". section-6 .";
    }

    @include xl {
        grid-template-columns: auto 900px auto;
    }

    @include lg {
        margin: 30px 0px 50px 0px;
    }

    #section-6-content {
        aside {
            background-image: url(../img/section-6/circle.jpg);
            background-position: center;
            background-position: cover;
            background-repeat: no-repeat;
            border-radius: 100%;
            height: 300px;
            margin: 20px auto 40px auto;
            width: 300px;



            @include lg {
                margin: 0px 0px 0px 0px;
            }


        }

        @include md {
            grid-area: section-6;
        }

        @include lg {
            display: grid;
            grid-template-columns: 45% auto;

        }



        #section-6-type {

            align-items: center;
            display: grid;
            font-family: 'open sans';
            font-size: rem-calc(21);
            grid-template-areas: ". section-6-type . ";
            grid-template-columns: 10px auto 10px;
            line-height: rem-calc(40);
            text-align: justify;

            #section-6-type-content {
                grid-area: section-6-type;
            }
        }
    }
}